<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>

    <div class="admin">

        <header class="admin_header">
            <h2>Admin Page</h2>
            <ul class="navbar-nav mr-auto">

                <li>
                    <i class="fa-solid fa-house-user"></i>
                    @Html.ActionLink("View Account", "Index")
                </li>

                <li class="new_acc">
                    <i class="fa-solid fa-user-plus"></i>
                    New Account
                </li>

                <li class="new_dep">
                    <i class="fa-solid fa-building"></i>
                    New Department
                </li>

                <li>
                    <i class="fa-solid fa-building-circle-arrow-right"></i>
                    @Html.ActionLink("View Department", "IndexDepartment")
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-align-justify"></i>
                        Options
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink" style="background-color: #494ca2; padding: 5px;">
                        <div class="hover" style="padding: 5px;">
                            @Html.ActionLink("Top View", "TopView")
                        </div>
                        <div class="hover" style="padding: 5px;">
                            @Html.ActionLink("Top Like", "TopLike")
                        </div>
                        <div class="hover" style="padding: 5px;">
                            @Html.ActionLink("Latest Idea", "LastIdea")
                        </div>
                        <div class="hover" style="padding: 5px;">
                            @Html.ActionLink("Latest Comment", "LastComment")
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Log out
                </li>
            </ul>
        </header>

        <container>

            @RenderBody()

        </container>

    </div>

    <div class="overlay_acc">
        <div class="add">
            <div class="comment_close">
                <i class="fa-solid fa-x"></i>
            </div>

            <div class="comment_amount">
                <span>Add Account</span>
            </div>

            <div class="mt-4">

                @{Html.RenderAction("CreateAccount", "Admin");}

            </div>
        </div>
    </div>

    <div class="overlay_dep">
        <div class="add">
            <div class="comment_close-dep">
                <i class="fa-solid fa-x"></i>
            </div>

            <div class="mt-4">

                @{Html.RenderAction("CreateDepartment", "Admin");}

            </div>
        </div>
    </div>

    <script>

        var overlayAcc = document.querySelector('.overlay_acc');
        var overlayDep = document.querySelector('.overlay_dep');
        var close = document.querySelector('.comment_close i')
        var closeDep = document.querySelector('.comment_close-dep i')
        var addAccBtn = document.querySelector('.new_acc')
        var addDepBtn = document.querySelector('.new_dep')


        close.addEventListener('click', (e) => {
            overlayAcc.classList.remove('show')
        })

        // Giai thich
        overlayAcc.addEventListener('click', (e) => {
            if (e.target == e.currentTarget) {
                overlayAcc.classList.remove('show')
            }
        })

        addAccBtn.addEventListener('click', (e) => {
            e.preventDefault()
            overlayAcc.classList.add('show')
        })

        //Add department
        closeDep.addEventListener('click', (e) => {
            overlayDep.classList.remove('show')
        })

        // Giai thich
        overlayDep.addEventListener('click', (e) => {
            if (e.target == e.currentTarget) {
                overlayDep.classList.remove('show')
            }
        })

        addDepBtn.addEventListener('click', (e) => {
            e.preventDefault()
            overlayDep.classList.add('show')
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/9128df8004.js" crossorigin="anonymous"></script>

</body>
</html>



<style>


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        font-family: sans-serif;
    }

    container {
        padding: 50px;
        width: 100%;
        background: linear-gradient(to right top, #c4dae2, #8bc3d1);
    }

    container h1 {
        padding-bottom: 20px;
        border-bottom: 2px solid #a9a9a9;
    }

    container table{
        margin-top: 50px;
    }

    .admin {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .admin_header {
        background-color: #494ca2;
        width: 19%;
        height: 100%;
        padding: 20px 10px 20px 25px;
        color: white;
    }

    .admin_header h2 {
        font-size: 2.3rem;
        font-weight: bold;
        margin: 20px 0;
    }

    .admin_header ul {
        list-style: none;
        padding: 0;
    }

    .admin_header ul li {
        font-size: 1.1rem;
        padding: 10px 5px;
        opacity: 0.7;
        border-radius: 10px;
    }


    .admin_header ul a {
        text-decoration: none;
        color: white;
    }

    .admin_header ul li:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }

    .admin_header ul li i {
        margin-right: 15px;
    }

    .add_btn {
        border: none;
        width: 100%;
    }

    .overlay_dep,
    .overlay_acc {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: none;
    }

    .add {
        background-color: white;
        top: 0;
        bottom: 0;
        width: 650px;
        height: 100%;
        right: 0;
        padding: 20px;
        animation: slide ease 0.8s;
        overflow: scroll;
    }

    .comment_amount span {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .comment_close-dep,
    .comment_close {
        width: 100%;
        height: 30px;
    }

    .comment_close-dep,
    .comment_close i {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        float: right;
    }

    .show {
        display: block;
    }

    .form_title-input {
        font-size: 1.3rem;
        font-weight: bold;
        border: none;
        outline: none;
        overflow: visible;
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        margin: 20px 0;
    }

    .form_title-edit {
        font-size: 3rem;
        font-weight: bold;
        border: none;
        outline: none;
        overflow: visible;
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .form_description-textarea {
        width: 100%;
        font-size: 1.2rem;
        border: none;
        outline: none;
        margin-top: 40px;
    }

    .btn-add {
        background-color: #e6e0bb;
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(99, 95, 95);
        width: 100%;
    }

    .btn_edit,
    .btn_delete{
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 10px;
        width: 80px;
        display: flex;
        justify-content: center;
    }

    .btn_edit {
        background-color: #3fba6c;
    }

    .btn_delete {
        background-color: #fb5533;
    }

    .btn_edit:hover,
    .btn_delete:hover {
        color: white;
        opacity: 0.6;
    }

    .hover:hover{
        background-color: rgba(255, 255, 255, 0.6);
    }

</style>