@model Project1640.Models.SetDate
@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    ViewBag.Title = "EditSetDate";
}

@using (Html.BeginForm("EditSetDate", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", _lpchecked = "1" }))
{
    var a = Model.StartDate;
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.StartDate,
          htmlAttributes: new { @class = "font-weight-bold" })


        @Html.EditorFor(m => m.StartDate,
         new
         {
           htmlAttributes = new { @class = "form-control", }
         })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EndDate, new { @class = "font-weight-bold" })
        @Html.EditorFor(m => m.EndDate,
        new
        {
          htmlAttributes = new { @class = "form-control" }
        })
    </div>
    <br />

    <button type="submit" class="btn btn-dark">Submit</button>
}