@model IEnumerable<Project1640.Models.Category>


<a href="Download" target="_blank" class="btn btn-primary" style="margin-top:20px;">Download Zip</a>
<table class="table table-hover">
    
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                <th scope="col">Idea</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(model => c.Id)</th>
                    <td>@Html.DisplayFor(model => c.Name)</td>
                    <td>@Html.DisplayFor(model => c.Description)</td>

                    <td>
                        <a type="button" class="btn btn-success btn-sm"
                           href="@Url.Action("EditCategory", new {id = c.Id})">Edit</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger btn-sm"
                           href="@Url.Action("DeleteCategory", new {id = c.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

        </container>

    </div>

    <div class="overlay">
        <div class="add">
            <div class="comment_close">
                <i class="fa-solid fa-x"></i>
            </div>

            <div class="comment_amount">
                <span>Add Category</span>
            </div>

            <div class="mt-4">

                @{Html.RenderAction("CreateCategory", "Manager");}

            </div>
        </div>
    </div>

    <script>

        var overlay = document.querySelector('.overlay');
        var overlayEdit = document.querySelector('.overlay_edit');
        var close = document.querySelector('.comment_close i')
        var addBtn = document.querySelector('.add_btn')
        

        close.addEventListener('click', (e) => {
            overlay.classList.remove('show')
        })

        // Giai thich
        overlay.addEventListener('click', (e) => {
            if (e.target == e.currentTarget) {
                overlay.classList.remove('show')
            }
        })

        addBtn.addEventListener('click', (e) => {
            e.preventDefault()
            overlay.classList.add('show')
        })
         
        

    </script>

    <script src="https://kit.fontawesome.com/9128df8004.js" crossorigin="anonymous"></script>
</body>
</html>

<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        font-family: sans-serif;
    }

    container {
        padding: 50px;
        width: 100%;
        background: linear-gradient(to right top, #c4dae2, #8bc3d1);
    }

    container h1 {
        padding-bottom: 20px;
        border-bottom: 2px solid #a9a9a9;
    }

    container table{
        margin-top: 50px;
    }

    .admin {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .admin_header {
        background-color: #494ca2;
        width: 17%;
        height: 100%;
        padding: 20px 10px 20px 25px;
        color: white;
    }

    .admin_header h2 {
        font-size: 2.3rem;
        font-weight: bold;
        margin: 20px 0;
    }

    .admin_header ul {
        list-style: none;
        padding: 0;
    }

    .admin_header ul li {
        font-size: 1.1rem;
        padding: 10px 5px;
        opacity: 0.7;
        border-radius: 10px;
    }


    .admin_header ul a {
        text-decoration: none;
        color: white;
    }

    .admin_header ul li:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }

    .admin_header ul li i {
        margin-right: 15px;
    }

    .add_btn {
        border: none;
        width: 100%;
    }

    .overlay_edit,
    .overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        display: none;
    }

    .add {
        background-color: white;
        top: 0;
        bottom: 0;
        width: 650px;
        height: 100%;
        right: 0;
        padding: 20px;
        animation: slide ease 0.8s;
    }

    .comment_amount span {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .comment_close {
        width: 100%;
        height: 30px;
    }

    .comment_close i {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        float: right;
    }

    .show {
        display: block;
    }

    .form_title input {
        font-size: 3rem;
        font-weight: bold;
        border: none;
        outline: none;
        overflow: visible;
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .form_description textarea {
        width: 100%;
        font-size: 1.2rem;
        border: none;
        outline: none;
        margin-top: 40px;
    }

    .btn-add {
        background-color: #e6e0bb;
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(99, 95, 95);
        width: 100%;
    }

    .btn_edit,
    .btn_delete{
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 10px;
        width: 80px;
        display: flex;
        justify-content: center;
    }

    .btn_edit {
        background-color: #3fba6c;
    }

    .btn_delete {
        background-color: #fb5533;
    }

    .btn_edit:hover,
    .btn_delete:hover {
        color: white;
        opacity: 0.6;
    }

</style>


