
@model IEnumerable<Project1640.Models.Category>
@{

}
<link rel="stylesheet" href="~/Content/Site.css" />
<table class="table">
    <ul>
        <li>
            <a href="@Url.Action("Index", new {categoryId = 0})">All</a>
        </li>
    </ul>
    @foreach (var item in Model)
    {
        if (TempData["CategoryId"] != null && Int32.Parse(TempData["CategoryId"].ToString()) == item.Id)
        {
            <ul>
                <li>
                    <a style="background-color: darkturquoise" href="@Url.Action("ViewAllIdea", new {categoryId = item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>
                </li>
            </ul>
        }
        else
        {
            <ul>
                <li>
                    <a href="@Url.Action("ViewAllIdea", new {categoryId = item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>
                </li>
            </ul>
        }
    }

</table>
