
@model IEnumerable<Project1640.Models.Category>
@{

}
<link rel="stylesheet" href="~/Content/Site.css" />
<table class="table">

    <li>
        <a href="@Url.Action("ViewAllIdea", new {categoryId = 0})">All</a>
    </li>

    @foreach (var item in Model)
    {
        if (TempData["CategoryId"] != null && Int32.Parse(TempData["CategoryId"].ToString()) == item.Id)
        {

            <li>
                <a style="background-color: darkturquoise" href="@Url.Action("ViewAllIdea", new {categoryId = item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>
            </li>

        }
        else
        {

            <li>
                <a href="@Url.Action("ViewAllIdea", new {categoryId = item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>
            </li>

        }
    }

</table>
