@model Project1640.Models.Comment
@{
    TempData["IdeaId"] = TempData["IdeaId"];
}

@using (Html.BeginForm("CreateComment", "Staff", FormMethod.Post, new { IdeaId = TempData["IdeaId"], enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "comment_write-input", @placeholder = "Text your comment...", name = "clearCache", autocomplete = "off" } })

    <div class="checkbox">
        @Html.CheckBoxFor(model => model.Status) Anonymously
    </div>

    <input type="submit" value="Add Comment" class="btn btn-default btn_add-comment" />

    <div style="display: none;">
        @Html.EditorFor(model => model.IdeaId, new { htmlAttributes = new { @class = "form-control", Value = TempData["IdeaId"] } })
    </div>

}

