@model IEnumerable<Project1640.Models.Idea>

@{
    Layout = "~/Views/Staff/_LayoutStaff.cshtml";
    int No = Int16.Parse(TempData["PageNo"].ToString());
    int first = (No - 1) * 5;
    int last = No * 5;
    int a = 0;

}


<div class="container_header">
    <h1>List Blog</h1>
    <span>Tao muốn viết gì đó ở đây nhưng không biết viết gì</span>
</div>

<div class="container_blog">

    <div class="blog_all-item">

        <div class="filter">
            <div class="filter_item">
                @Html.ActionLink("Top View", "TopView")
            </div>
            <div class="filter_item">
                @Html.ActionLink("Top Like", "TopLike")
            </div>
            <div class="filter_item">
                @Html.ActionLink("Latest Idea", "LastIdea")
            </div>
            <div class="filter_item">
                @Html.ActionLink("Latest Comment", "LastComment")
            </div>
        </div>

        @foreach (var c in Model)
        {
            if (a >= first && a < last)
            {
                <div class="blog_item left-to-right">
                    <div class="blog_item-header">
                        <div class="blog_avatar">
                            <i class="fa-solid fa-user"></i>
                            <span>
                                Hoang Anh
                            </span>
                        </div>

                        <div class="blog_item-option">

                            <div class="dropdown">
                                <i class="btn btn-secondary fa-solid fa-ellipsis" type="i" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </i>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Copy Link</a></li>
                                    <li><a class="dropdown-item" href="#">Report</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="blog_content">
                        <a href="@Url.Action("ViewIdea", new {id = c.Id})">
                            <h1>@Html.DisplayFor(model => c.Title)</h1>
                        </a>

                        <span>@Html.DisplayFor(model => c.Content)</span>
                    </div>

                    <div class="blog_time">
                        <span>@Html.DisplayFor(model => c.Date)</span>
                    </div>
                </div>
            }
            a++;
        }

        <ul class="pagination">
            @for (int i = 1; i <= Int16.Parse(TempData["PageMax"].ToString()); i++)
            {
                if (TempData["PageNo"] != null && Int16.Parse(TempData["PageNo"].ToString()) == i)
                {
                    <li style="color: white; background-color: #fe7a20;">
                        <a href="@Url.Action("Index", new {id = i})">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", new {id = i})">@i</a>
                    </li>
                }
            }
        </ul>

    </div>

    <div class="blog_all-categories">
        <h2>All Topics</h2>

        <div class="blog_categories">
            <ul>
                <li>
                    <a href="">Salary</a>
                </li>
                <li>
                    <a href="">Salary</a>
                </li>
                <li>
                    <a href="">Jobs</a>
                </li>
            </ul>
        </div>
    </div>

</div>





<script>

	var blogItem = document.querySelectorAll('.blog_item')

	function scrollHandleAnimation(e){
		var rect = e.getClientRects()[0]
		var heightScreen = window.innerHeight

		if(!(rect.bottom < 0 || heightScreen.top > heightScreen)){
			e.classList.add('start')
		}else{
			e.classList.remove('start')
		}
	}

	function checkElement(){
		blogItem.forEach(e => {
			scrollHandleAnimation(e)
		})
	}

	window.onscroll = checkElement

</script>

