@model IEnumerable<Project1640.Models.Comment>
@{
    string Anonymously = "Anonymously";
}
<table class="table">
    <h4>Comment</h4>
    @foreach (var item in Model)
    {
        if (TempData["LastComment"] != null && TempData["LastComment"].ToString() ==  item.Id.ToString())
        {
            <tr style="background-color: antiquewhite;">
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)  By User: @Html.DisplayFor(modelItem => item.UserId)
                </td>
            </tr>
         }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)    By User: @{
                        if (item.Status == true)
                        {
                            { Html.RenderAction("ShowUser", "Staff", new { UserId = item.UserId }); }
                        }
                        else
                        {
                            @Html.DisplayName(Anonymously)
                        }
                    }
                </span>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>
                <div class="blog_time-comment">
                    <span>@Html.DisplayFor(modelItem => item.Date)</span>
                </div>
            </div>
        </div>
    }
}


