@model Project1640.Models.Idea

@{
    Layout = "~/Views/Staff/_LayoutStaff.cshtml";
    TempData["IdeaId"] = @Model.Id;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewIdea</title>
</head>
<body>
    <div>
        <h4> @Html.DisplayFor(model => model.Title)</h4>
        @Html.DisplayFor(model => model.Views) Views
        @{Html.RenderAction("ShowCategory", "Staff");}

        <hr />
        <dl class="dl-horizontal">

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Date) : @Html.DisplayFor(model => model.Date) <br />
                By User: @Html.DisplayFor(model => model.UserId)
            </dt>
        </dl>
    </div>

    @{Html.RenderAction("Like", "Staff");}

    @{Html.RenderAction("ShowComment", "Staff");}
    @{Html.RenderAction("CreateComment", "Staff");}
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

</body>
</html>
